/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "totem.dtsi"

&kscan0 {
    col-gpios
        = <&xiao_d 4 GPIO_ACTIVE_HIGH>
        , <&xiao_d 5 GPIO_ACTIVE_HIGH>
        , <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 9 GPIO_ACTIVE_HIGH>
        , <&xiao_d 8 GPIO_ACTIVE_HIGH>
        ;
};

chosen {
  zephyr,post-kernel-init = &charge_ctrl;
};

charge_ctrl: charge-control {
  compatible = "gpio-leds";
  charge_led: control {
    gpios = <&gpio0 22 GPIO_OUTPUT_INACTIVE>;
    label = "charge-current-control";
  };
};
